body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #40514E;;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}

h2{
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66BFBF;
font-weight: normal;
}


h3{
font-family: 'Montserrat', sans-serif;
color: #11999E;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}
a:hover{
    color: #EAF6F6;
}

p {
     line-height: 2; 
}


.top-container {
    position: relative;
    background-image: linear-gradient(to top, #f1f3cd 0%, #ace0f9 100%);
    padding-top: 100px;
    z-index: 0;
}

.middle-container {
    background-color: white;
    margin: 100px 0;
}

.bottom-container {
   background-color: #66BFBF;
   padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    top: 40px;
    right: 300px
}

.top-right-cloud{
    position: absolute;
    right: -30px;
    top: 280px

}

.sun-image{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 480px;
    left: 710px;
    z-index: -1;
    transition: transform 1s;
}

.birds-image{
    width: 200px;
    height: 150px;
    position: absolute;
    top: 50px;
    left: 100px;
}

.profile-image{
    padding: 5px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: solid limegreen;
    border-width: 0 0  0 2px ;
   
}

.skills{
    margin: 100px auto;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.skills-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skills-image2{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.divider{
    width: 10%;
    border-top: 6px dotted gray;
    margin: 100px auto;
}

.profile-desc{
    width: 30%;
    margin: auto;
    
}

.contact-me{
    width: 40%;
    margin: 40px  auto 60px ;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}


/* CSS */
.btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(70, 193, 136);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}